{% extends "base.html" %}
{% block subtitle %}
    소개
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-1"></div>
            <img src="{{ url_for('static', filename = 'images/profile.jpg')}}" width="150">
        <div class="col-10">
            <form action="/introduce" method="POST">
                <table class="table table-borderless">
                    <tr>
                        <td>이름</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            <button type="submit" class="btn btn-primary">실행</button>&nbsp;&nbsp;&nbsp;
                            <button type="reset" class="btn btn-secondary">취소</button>
                        </td>
                    </tr>
                </table>		
            </form>
        </div>
        <div class="col-1"><h3>페이지 여백</h3></div>
    </div>                
{% endblock %}